<html>
    <body>
        <h1>Stickers</h1>
        <ul>
            {% for sticker in stickers %}
            <li>{{ sticker.name }}</li>
            <li>{{ sticker.length }}</li>
            <li>{{ sticker.height }}</li>
            <li>{{ sticker.price }}</li>
            <li><img src="{{ sticker.imageURL }}" width=300></li>
                <a href="{% url 'sticker_delete' pk=sticker.id %}" class="button-form">DELETE</a>
                <a href="{% url 'sticker_detail' pk=sticker.id %}" class="button-form">DETAILS</a>
                <a href="{% url 'sticker_update' pk=sticker.id %}" class="button-form">UPDATE</a>
            {% endfor %}
        </ul>
    </body>
</html>